@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 25, 25, 35;
  --background-end-rgb: 35, 35, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  background-color: rgb(var(--background-start-rgb));
}

body {
  color: rgb(220, 220, 235);
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
